.container {
  align-items: center;
  color: white;
  display: flex;
  text-decoration: none;
  padding: 20px;
  gap: 30px;
}

.container img {
  border-radius: 10px;
  height: 200px;
}

.container:nth-of-type( even ) {
  flex-direction: row-reverse;
}

.container:last-of-type {
  margin-bottom: 30px;
}

.container:hover {
  border-radius: 15px;
  box-sizing: border-box;
  outline: 1px solid aqua;
  outline-offset: -5px;  
}

.goButton {
  display: none;
}

@media screen and ( max-width: 700px ) {
  .container {
    border: 1px solid aqua;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .container:nth-of-type( even ) {
    flex-direction: column;
  }

  .container img {
    border-radius: 10px;
    height: 150px;
  }

  .container:hover {
    box-sizing: border-box;
    outline: none;
    outline-offset: -5px;  
  }

  .goButton {
    display: flex;
    background-color: aqua;
    border-radius: 8px;
    color: #393b41;
    font-weight: 700;
    padding: 12px;
  }
}
