.tech {
  border-radius: 10px;
  border: 1px solid aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100px;
  box-shadow: -4px 4px rgba(0, 128, 128, 0.4);  /* Sombra inicial */
  transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Transição para a sombra e transformação do card */
}

.tech:hover {
  transform: translate(5px, -5px);  /* Move o card para cima e para a direita */
  box-shadow: -12px 12px rgba(0, 128, 128, 0.8);  /* Sombra se move junto com o card */
}

.tech p {
  color: white;
  font-weight: 700;
  text-align: center;
}

.techLogoBox {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.techLogo {
  width: 100px;
}

@media screen and (max-width: 700px) {
  .tech {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    padding: 10px;
    gap: 10px;
  }

  .tech p {
    margin: 0;
  }

  .techLogo {
    width: 50px;
  }
}