.container {
  display: flex;
  flex-direction: column;
  background-color: #393b41;
  height: 100vh
}

.content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.techContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px;
  gap: 20px;
}

.infoContainer h1 {
  margin: 0;
  margin-left: 30px;
}

.infoContainer h1:nth-of-type( 1 ) {
  font-size: xxx-large;
  margin-left: 15px;
  color: aqua;
}

.infoContainer h1:nth-of-type( 2 ) {
  color: white;
  margin-left: 35px;
}

.infoContainer h1:nth-of-type( 3 ) {
  color: white;
  margin-left: 35px;
  margin-bottom: 20px;
}

.infoContainer h2 {
  color: white;
  margin: 0;
  margin-left: 40px;
}

.profilePic {
  border-radius: 100%;
  width: 350px;
  margin-right: 50px;
}

.tech {
  border-radius: 10px;
  border: 1px solid aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  width: 200px;
}

.tech p {
  color: white;
  font-weight: 700;
  text-align: center;
}

.techLogo {
  height: 100px;
}
