.link {
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  font-weight: 700;
}

.link:hover {
  background-color: #474a51;
}

.here {
  background-color: white;
  color: #393b41;
}

.here:hover {
  background-color: white;
  color: #393b41;
}